# NAME OF THE FILE MUST BE ONLY .htaccess

# Start
RewriteEngine on

# Does not apply to the existing directories
RewriteCond %{REQUEST_FILENAME} !-d

# Checking for the file in the directories with .html extension
RewriteCond %{REQUEST_FILENAME}\.html -f

# The page that has the extension .html is displayed
RewriteRule ^(.*)$ $1.html [NC,L]
